@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
header {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}
.header-box {
    height: 100px;
}
.logo {
    width: 100px;
    height: 80px;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
}
.shop_name {
    margin-left: 10px;
    height: 80px;
    float: left;
}
.shop-title {
    font-size: 28px;
}
.shop-subtitle {
    font-size: 14px;
    text-align: end;
}
.phone {
    width: 280px;
    height: 60px;
    background-color:green;
    color: #fff;
    font-weight: bold;
    float: right;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    padding: 18px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    cursor: pointer;
}
.header-menu {
    float: left;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    padding-left: 10%;
    background-color: #e6ffe6;
}
.menu-item {
    list-style: none;
    float: left;
    width: 15%;
    height: 100%;
    line-height: 50px;
}
.menu-link {
    text-decoration: none;
    display: block;
}
.menu-link:hover {
    background-color: green;
    color: white;
    text-decoration: none;
}
.main-content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    background-image: url(../img/background.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}
.main-visual {
    height: 900px;
    max-width: 100%;
	background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/top_img.jpg);
}
.headline {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: #e6ffe6;
}
.pickup-body {
    display: flex;
    width: 100%;
    margin: 30px auto;
}
.pickup-box {
    width: 30%;
    height: 100%;
    margin: 0 30px;
}
.pickup-box-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-meat {
    background-image: url(../img/meat.jpg);
}
.img-cutlery {
    background-image: url(../img/cutlery.jpg);
}
.img-glass {
    background-image: url(../img/glass.jpg);
}
.pickup-box-text {
    padding: 10px;
}
.about-body {
    width: 100%;
    margin: 30px auto;
}
.about-box {
    display: flex;
    width: 95%;
    height: 50%;
    margin: 0 auto;
}
.about-box-img {
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/signboard.jpg);
}
.about-box-movie {
    width: 50%;
    aspect-ratio: 16 / 9;
  }
.about-box-movie iframe {
    width: 100%;
    height: 100%;
  }
.about-box-text {
    margin: 5%;
}
.pr-body {
    width: 100%;
    margin: 30px auto;
}
.pr-box {
    width: 70%;
    margin: 0 15%;
    height: 100%;
}
.pr-box-img {
    width: 40%;
    height: 300px;
    float: left;
    margin: 0 20px 20px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/signboard.jpg);
}
.info-body {
    text-align: center;
    height: 300px;
    margin: 40px 0;
    overflow-y: scroll;
}
.info-text {
    list-style: none;
    margin: 20px;
}
.company-body {
    display: flex;
    width: 80%;
    margin: 30px auto;
}
.company-box-left {
    width: 50%;
    display: flex;
    align-items: center;
}
.company-box-right {
    width: 50%;
}
.company-text {
    list-style: none;
    margin: 20px;
}
.contact-table {
    width: 50%;
    margin: 30px auto;
    border-collapse:  collapse;
    border-color: white;
    border-width: 3px;
    border-style: dashed;
    background-color: #e6ffe6;
}
.contact-name {
    border: solid 3px;
    border-style: dashed;
    border-color: white;
    padding: 25px 0;
    width: 30%;
    vertical-align: top;
}
.contact-input {
    border: solid 3px;
    border-style: dashed;
    border-color: white;
    text-align: center;
    width: 70%;
    padding: 20px;
}
.contact-input-box {
    width: 100%;
    height: 30px;
}
.contact-input-lbox {
    width: 100%;
}
.contact-submit {
    width: 300px;
    display: block;
    background-color:green;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 13px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    cursor: pointer;
}
footer {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background-color: #e6ffe6;
}
.footer-logo {
    width: 10%;
    height: 100px;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
}
.footer-menu {
    float: left;
    width: 80%;
    margin-left: 5%;
    list-style-type: none;
    text-align: center;
}
.footer-menu-item {
    border: 1px solid white;
    width: 25%;
    float: left;
    line-height: 50px;
}
.copyright {
    clear: both;
    display: block;
    text-align: right;
    margin-right: 30px;
}